server {
    listen 80;
    server_name localhost;

    root /usr/share/nginx/html;
    index index.html index.htm;

    add_header Content-Security-Policy "script-src 'self' 'unsafe-inline';style-src 'self' 'unsafe-inline';img-src 'self' data:;font-src 'self' https://fonts.gstatic.com;frame-ancestors 'self' ${FRONTEND_URL};block-all-mixed-content";

    add_header Access-Control-Allow-Origin '${FRONTEND_URL}';

    location / {
        try_files $uri $uri/ /index.html;
    }
}
