<div class="p-5 md:p-20 flex flex-col gap-5">
    <h1 class="text-2xl">
        About User Portal
    </h1>
    <div>
        <p class="text-pretty">
            Under development by the European Genomic Data Infrastructure project, the User Portal will be the
            main European-level entry point for data access within the infrastructure.
        </p>
    </div>
    <h1 class="text-2xl">
        About Genomic Data Infrastructure
    </h1>
    <div class="flex flex-col gap-2">
        <q class="text-pretty">
            The European Genomic Data Infrastructure (GDI) project aims to enable access to genomic and related
            phenotypic and clinical data to improve research, policymaking and healthcare across Europe.

            The GDI project aims to unlock a data network of over one million genome sequences for research and clinical
            reference. This will create unprecedented opportunities for transnational and multi-stakeholder actions in
            personalised medicine for cancer, common, rare and infectious diseases as well as access to a reference
            genome collection representing the European population (Genome of Europe).
        </q>
        <b class="text-claret">For more details, please visit the <a href="https://gdi.onemilliongenomes.eu/">GDI
                website</a>.</b>
    </div>
</div>