# SPDX-FileCopyrightText: 2024 PNED G.I.E.
#
# SPDX-License-Identifier: Apache-2.0
NEXT_PUBLIC_DDS_URL=https://api.portal.dev.gdi.lu/discovery
NEXT_PUBLIC_DAAM_URL=https://api.portal.dev.gdi.lu/daam
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret
KEYCLOAK_CLIENT_ID=gdi
KEYCLOAK_CLIENT_SECRET=get_secret_with_dev_sec_ops
KEYCLOAK_ISSUER_URL=https://id.portal.dev.gdi.lu/realms/gdi
END_SESSION_URL=https://id.portal.dev.gdi.lu/realms/gdi/protocol/openid-connect/logout
REFRESH_TOKEN_URL=https://id.portal.dev.gdi.lu/realms/gdi/protocol/openid-connect/token
CSP_HEADER="
    default-src 'self' https://api.portal.dev.gdi.lu;
    script-src 'self' 'unsafe-eval' 'unsafe-inline';
    style-src 'self' 'unsafe-inline';
    img-src 'self' blob: data:;
    font-src 'self';
    object-src 'none';
    base-uri 'self';
    form-action 'self';
    frame-ancestors 'none';
    upgrade-insecure-requests;
"