  <div class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0 md:space-x-4 bg-[#f5f5f5]">
      <div class="flex items-center p-4 space-x-4">
          <img src="/assets/eu-flag.png" alt="EU flag" width="80">
          <p class="text-sm md:text-sm">
              GDI project receives funding from the European Union’s Digital Europe <br /> Programme under grant agreement number 101081813.
          </p>
      </div>

      <div class="flex flex-col p-2">
        <div class="flex flex-row gap-4">
            <a mat-icon-button color="primary" href="https://www.linkedin.com/company/gdi-euproject/" target="_blank" rel="noopener">
                <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
            <a mat-icon-button color="primary" href="https://twitter.com/GDI_EUproject" target="_blank" rel="noopener">
                <fa-icon [icon]="faXTwitter"></fa-icon>
            </a>
            <a mat-icon-button color="primary" href="https://github.com/GenomicDataInfrastructure" target="_blank" rel="noopener">
                <fa-icon [icon]="faGithub"></fa-icon>
            </a>
            <a mat-icon-button color="primary" href="https://gdi.onemilliongenomes.eu/" target="_blank" rel="noopener">
                <fa-icon [icon]="faGlobe"></fa-icon>
            </a>
        </div>
        <a class="text-sm text-center md:text-left mt-4" href="mailto:gdi-coordination@elixir-europe.org">gdi-coordination&#64;elixir-europe.org</a>
      </div>
  </div>
