<mat-card class="container">
    <mat-grid-list cols="2" rowHeight="fit" gutterSize="16px">
        <mat-grid-tile>
            <div class="media">
                <div class="media-left">
                    <img mat-card-image src="../../assets/eu-flag.png" alt="EU flag" layout-fill>
                </div>
                <p class="media-content">
                    GDI project receives funding from the European Union’s Digital Europe <br/> Programme under grant agreement number 101081813.</p>
            </div>
        </mat-grid-tile>
        <!-- <mat-grid-tile>
            <div class="icon-container">
                <div class="contact-info">
                  <a href="mailto:gdi-coordination@elixir-europe.org">gdi-coordination@elixir-europe.org</a>
                  <p><a href="/accessibility">Accessibility</a></p>
                </div>
            </div>
        </mat-grid-tile> -->
    </mat-grid-list>
</mat-card>