.container {
    height: auto;
    min-height: 100px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 100%;

    .mat-grid-list {
        flex-grow: 1;
        width: 100%;

        .media {
            display: flex;
            align-items: center;
            margin-left: 20px;

            .media-left {
                padding-right: 2rem;

                img {
                    width: 80px;
                    height: auto;
                }
            }

            .media-content {
                flex: 1;
            }
        }
    }
}