mat-toolbar {

    height: auto;
    
    .toolbar-container {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      
      .logo {
        margin-top: 20px;
        height: auto;
        max-width: 100%; // or the height of your logo
        margin-bottom: 20px;
      }
  
      .toolbar-spacer {
        flex: 1 0 auto;
      }
    }
  }
  

  