<div class="flex flex-row items-center bg-[#f5f5f5] gap-4 pl-4 pr-4 text-xl">
    <img src="/assets/egdi-logo-horizontal-full-color-rgb.svg" alt="Logo" class="logo mt-5 mb-5" width="270">
    <span class="grow"></span>
    <a routerLink="/" routerLinkActive="active-router" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/datasets" routerLinkActive="active-router">Datasets</a>
    <a routerLink="/about" routerLinkActive="active-router">About</a>
    <button mat-button *ngIf="!isAuthenticated" (click)="login()">Login</button>
    <button mat-button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
</div>
