<h3 class="title mt-10 mb-6">Welcome to GDI User Portal</h3>
<app-search></app-search>
<app-portal-statistics></app-portal-statistics>
<div class="m-5 mt-20 md:m-20 p-5 bg-claret text-white rounded-lg flex flex-row gap-4 items-center">
    <div class="text-2xl">
        <fa-icon [icon]="faExclamationCircle"></fa-icon>
    </div>
    <div class="text-sm text-pretty">
        Please note that this version of GDI User Portal is the result of deliverable "MS11 - Development of the user
        portal deployed", which is still undergoing further feature developments and testing before its release in
        production. Therefore, you may witness some instabilities and broken links. Should you have any feedback, please
        let us know so we can take into account for the future releases accordingly. Your help in this regard is greatly
        appreciated!
    </div>
</div>