<div class="container">
  <div class="stats-container">
    <div class="stats">
      <p class="stats-number">1 535 605</p>
      <p class="stats-label">Datasets</p>
    </div>
    <div class="stats">
      <p class="stats-number">181</p>
      <p class="stats-label">Catalogues</p>
    </div>
    <div class="stats">
      <p class="stats-number">36</p>
      <p class="stats-label">Countries</p>
    </div>
    <div class="stats">
      <p class="stats-number">1486</p>
      <p class="stats-label">New Pieces</p>
    </div>
    <div class="stats">
      <p class="stats-number">212 333</p>
      <p class="stats-label">Data Stories</p>
    </div>
    <div class="stats">
      <p class="stats-number">11</p>
      <p class="stats-label">Courses</p>
    </div>
  </div>
</div>
