.container {
    margin-top: 20px;
    height: 300px;
}

.stats-container {
    display: grid;
    grid-template-columns: 50% 50%; 
    justify-items:center;
    margin:auto;
    background-color: #7276b118;
    max-width: 584px; 
    height: 100%;
    border-radius: 10px; 
}

.stats {
    margin-top: 30px;
    margin-bottom: 30px;
}

.stats-number {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 34px;
    font-weight:bolder;
    color:#7276B1;
    text-align: center;
}

.stats-label {
    font-size: 15px;
    font-weight:bolder;
    color:black;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
}
