/* SPDX-FileCopyrightText: 2024 PNED G.I.E. */

/* SPDX-License-Identifier: Apache-2.0 */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --color-white-smoke: #f5f5f5;
  --color-wine-berry: #480837;
  --color-claret: #7b1c58;
  --color-scampi-blue: #7276b1;
  --color-scampi-blue-100: #f0f1f7;
  --color-grandis-yellow: #ffdb95;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
