<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect subdomains to healthdata.nl" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(catalog|catalogue|catalogus)\.healthdata\.nl$" />
          </conditions>
          <action type="Redirect" url="http://healthdata.nl/{R:0}" redirectType="Permanent" />∏
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
