/*
 * SPDX-FileCopyrightText: 2024 PNED G.I.E.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

$primary: (
  50: #efe4eb,
  100: #d7bbcd,
  200: #bd8eac,
  300: #a3608a,
  400: #8f3e71,
  500: #7b1c58,
  600: #731950,
  700: #681447,
  800: #5e113d,
  900: #4b092d,
  A100: #ff81be,
  A200: #ff4ea3,
  A400: #ff1b89,
  A700: #ff027c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$accent: (
  50: #eeeff6,
  100: #d5d6e8,
  200: #b9bbd8,
  300: #9c9fc8,
  400: #878bbd,
  500: #7276b1,
  600: #6a6eaa,
  700: #5f63a1,
  800: #555998,
  900: #424688,
  A100: #dfe0ff,
  A200: #acb0ff,
  A400: #7980ff,
  A700: #5f68ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$warn: (
  50: #fffaf2,
  100: #fff3df,
  200: #ffecca,
  300: #ffe4b5,
  400: #ffdea5,
  500: #ffd895,
  600: #ffd48d,
  700: #ffce82,
  800: #ffc878,
  900: #ffbf67,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #fff8f0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
